<p>The user selected a flight,a they will now checkout to buy their ticket. 
 
</p>
<form>
    <div class="row">
        <div class="col-6">
            <label>Name</label>
            <input type="text" class="form-control">
            <label>Surname</label>
            <input type="text" class="form-control">
            <label>Passport Number</label>
            <input type="text" class="form-control">
            <label>Email</label>
            <input type="email" class="form-control">
            <label>Phone number</label>
            <div class="d-flex">
                <select class="form-select me-2" style="width: 100px">
                    <option>+90</option>
                    <option>+33</option>
                </select>
                <input type="tel" class="form-control">

            </div>
        </div>
        <div class="col-6">
            <h2>$300</h2>
            <label>CC Number</label>
            <input type="text" class="form-control">
            <label>Expiration Date</label>
            <input type="text" class="form-control">
            <label>CVC Number</label>
            <input type="text" class="form-control">

            <button class="btn btn-primary">Buy</button>
        </div>
        
    </div>
   


    

</form>