<p>login page. will the user have to be logged in to buy access ticket? use it to create access new login?</p>
<style>
    .card{margin-top: 50px; padding: 20px;}
</style>
<div class="card">
    <form>
        <h3>Login</h3>
        <br>
        <label>Email</label>
        <input class="form-control" type="text">
        <label>Password</label>
        <input class="form-control" type="password">
        <br> <br> <br>
        <button class="btn btn-primary">login</button>
    </form>
</div>
